@import "tailwindcss";
@config "../../tailwind.config.js";

.link {
  position: relative;
}

.link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #3d348b;
  transition: width 0.3s ease-in-out;
}

.link:hover::before {
  width: 100%;
}

.outline-effect:focus {
  outline: none;
}

.outline-effect:focus-visible {
  outline: 2px solid #3d348b;
  outline-offset: 2px;
  transition: outline 0.3s ease-in-out;
}

.outline-effect-light:focus {
  outline: none;
}

.outline-effect-light:focus-visible {
  outline: 2px solid white;
  outline-offset: 2px;
  transition: outline 0.3s ease-in-out;
}

.hero-section {
  background-image: url("../../public/images/hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
